#unidades_estudio { float: left; width: 30%; min-height: 12em; } * html #unidades_estudio { height: 12em; } /* IE6 */
/*#gallery { float: left; width: 30%; min-height: 12em; } * html #gallery { height: 12em; } /* IE6 */
.gallery.custom-state-active { background: #eee; }
.gallery li { float: left; width: 96px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
.gallery li h5 { margin: 0 0 0.4em; cursor: move; }
.gallery li a { float: right; }
.gallery li a.ui-icon-zoomin { float: left; }
.gallery li img { width: 100%; cursor: move; }

#plan_estudio { float: right; width: 65%; min-height: 24em; padding: 1%;} * html #plan_estudio { height: 24em; } /* IE6 */
#plan_estudio h4 { line-height: 16px; margin: 0 0 0.4em; }
#plan_estudio h4 .ui-icon { float: left; }
/*#plan_estudio .gallery h5 { display: none; }*/
